<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>UI Dashboard Website</title>
    <!-- Font Awesome -->
    <link href="{{ url_for('static',filename='fontawesome-free-5.8.1-web/css/all.css')}}" rel="stylesheet">
    <!-- Bootstrap core CSS --> 
    
  
  <!--Bootstrap core CSS -->
  
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{url_for('static',filename='css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
</head>
<!--/home/khalid/turbine_projet/dangerosite_velo/static/css-->

<body>

    <!-- Start your project here-->
    <!-- navigation menu -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="" class="navbar-brand text-warning">&nbsp;&nbsp; Turbine</a>
        <button class="navbar-toggler " data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fas fa-bicycle"></i>  Dangerosité du
                        vélo à
                        Grenoble </a>
                </li>
                  <a href="/velo" class="nav-link">
                     <i class="fas fa-map-marker-alt"></i> Affichez la carte</a>
            </ul>
            
        </div>
       
    </nav>

    <!-- navigation menu ends here -->
    <!-- creating headin of dashboard -->
    

    <div class=" py-3 text-white" style="background-color: teal">
        <h1>&nbsp;&nbsp;<i class="fas fa-chart-bar"></i></i> Tableau de bord</h1>
    </div>
    <!-- dashboard heading ends -->
    

  <!--Grid column-->
  <div class="col-md-12 mb-4">

    <!--Card-->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header blue-gradient">
        <h5 class="mb-0">Grenoble</h5>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center">

        <!--Google map-->
        <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
          <iframe src="/velo"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->

  <!--Grid column-->
    

    <div class="container">
      
      <div class="row">
        <div class="col-md-6 ">
          <div class="thumbnail">
            <a href="/static/img/fig7.png" target="_blank">
              <img src="/static/img/fig7.png" alt="Lights" style="width:100%">
              <div class="caption">
                
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="thumbnail">
            <a href="/static/img/fig8.png" target="_blank">
              <img src="/static/img/fig8.png" alt="Nature" style="width:100%">
              <div class="caption">
              
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>


    <div class="container">
      
      <div class="row">
        <div class="col-md-6  ">
          <div class="thumbnail">
            <a href="/static/img/fig1.png" target="_blank">
              <img src="/static/img/fig1.png" alt="Lights" style="width:100%">
              <div class="caption">
                
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="thumbnail">
            <a href="/static/img/fig2.png" target="_blank">
              <img src="/static/img/fig2.png" alt="Nature" style="width:100%">
              <div class="caption">
              
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>

    <div class="container">
      
      <div class="row">
        <div class="col-md-6  ">
          <div class="thumbnail">
            <a href="/static/img/fig3.png" target="_blank">
              <img src="static/img/fig3.png" alt="Lights" style="width:100%">
              <div class="caption">
                
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="/static/img/fig4.png" target="_blank">
              <img src="/static/img/fig4.png" alt="Nature" style="width:100%">
              <div class="caption">
              
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>

    <div class="container">
      
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="/static/img/fig5.png" target="_blank">
              <img src="static/img/fig5.png" alt="Lights" style="width:100%">
              <div class="caption">
                
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/static/img/fig6.png" target="_blank">
              <img src="/static/img/fig6.png" alt="Nature" style="width:100%">
              <div class="caption">
              
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>

    
    <!-- dashboard content ends -->
    <!-- footer start -->
    <footer class="bg-light text-dark p-5 mt-2">
        <p  class="text-center">Turbine 2020</p>

    </footer>

    
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{url_for('static',filename='js/mdb.min.js')}}"></script>
</body>

</html>